/*modal rtl*/
::ng-deep .rtl-elem .modal-header .close {
  margin-left: -1rem;
}

::ng-deep .rtl-elem .modal-footer>:not(:last-child) {
  margin-left: .25rem;
  margin-right: 0;
}

::ng-deep .rtl-elem .modal-footer>:not(:first-child) {
  margin-right: .25rem;
  margin-left: 0;
}