<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project name</a>
    </div>
  </div>
</nav> -->

<div class="container row center">
  
  <!-- <img src="../../assets/images/Plane_icon.svg.png"> -->

  <!--Flight seats-->
  <div id="flight-seats-area" class="col-md-6">
    <div>
      <img id="plane-background-image" src="../../assets/images/614.png" />
      <ul id="flight-seats-list">
        <li class="row title-row">
          <ul>
            <li></li>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
            <li></li>
          </ul>
        </li>

        <li *ngFor="let row of seatsRows; let i = index" class="row flight-row">
          <ul>
            <li class="row-number">{{ i + 1 }}</li>
            
            <li *ngFor="let seat of seatsRows[i]" [id]="seat.id" class="flight-seat seat-status-{{seat.status}}" [title]="seat.text" (click)="seatClicked(seat)" 
                [ngClass]="{ 'taken-by-other': seat.status === 'allocated-successfully' && seat.takenBy !== currPassenger.id }"></li>
              
            <li class="row-number">{{ i + 1 }}</li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>

  <!--Flight details-->
  <div id="flight-details-area" class="col-md-6 rtl-elem">
    <h1 id="flight-title">טיסת ישראייר 704 6H</h1>

    <h3>פרטי הנוסעים</h3>
    <ul id="passengers-list" class="clearfix">
      
      <li *ngFor="let passenger of passengers" class="passenger" [ngClass]="{ 'checked': passenger.id === currPassenger.id }">
        <input type="radio" class="passenger-radio" name="passenger-radio" [id]="'radio-' + passenger.id" [checked]="passenger.id === currPassenger.id" 
          (click)="currPassenger = passenger" />
        <label class="passenger-name" for="radio-{{passenger.id}}">{{passenger.name}}</label>
        <span class="passenger-seat">{{passenger.seat?.id}}</span>
        <span *ngIf="passenger.seat?.price" class="passenger-price">{{passenger.seat?.price}}$</span>
      </li>

    </ul>

    <div id="total-price">
      <label style="width: 250px">סה"כ תוספות תשלום עבור הושבה:</label>
      <label *ngIf="totalPrice" style="width: 50px">{{ totalPrice }}$</label>
    </div>

    <div>
      <button class="btn btn-secondary" (click)="cancelSeats()">בטל מקומות</button>
      <button class="btn btn-primary" (click)="save()">שמור</button>
    </div>
  </div>

</div>

<div id="alerts-area" class="rtl-elem">
  <ngb-alert *ngFor="let alert of alerts" [type]="alert.type" (close)="close(alert)" [ngClass]="{ 'deleted': alert.deleted }">{{ alert.message }}</ngb-alert>
</div>

<!-- <p *ngFor="let item of arrayOne(32); let i = index">
  [<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;# "id": "{{i+1}}A", "status": "free", "text": "40$", "price": 40 _,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;# "id": "{{i+1}}B", "status": "free", "text": "40$", "price": 40 _,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;# "id": "{{i+1}}C", "status": "free", "text": "40$", "price": 40 _,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;# "id": "{{i+1}}D", "status": "free", "text": "40$", "price": 40 _,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;# "id": "{{i+1}}E", "status": "free", "text": "40$", "price": 40 _,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;# "id": "{{i+1}}F", "status": "free", "text": "40$", "price": 40 _<br/>
  ],<br/>
</p> -->
